<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e34397b2-486a-417d-bd5a-b9113a4a1b0c/resourceGroups/presidio-prograd_group/providers/Microsoft.Web/sites/VirtuHeal</ResourceId>
    <ResourceGroup>presidio-prograd_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://virtuheal.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://virtuheal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$VirtuHeal</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>